<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./orders.css">
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Ordenes de compra</title>
</head>
<body>
    <header>
        
       <label >Filtros :
            <select id="Filter">
                <option value="todas" selected>Todas</option>
                <option value="transferencia">Transferencia</option>
                <option value="efectivo">Efectivo</option>
                <option value="delivery">Delivery</option>
                <option value="pormayor">Por mayor</option>
            </select>   
        </label>
        <nav>
            <li><a href="../../index.html">Principal</a></li>
            <li><a href="../products/products.html">Productos</a></li>
            <li><a class="custom-link" href="#">Ordenes</a></li>
        </nav>
        <label for="dateInput">Selecciona una fecha:
            <input type="date" id="dateInput" name="dateInput">
            <button id="submitButton" class="btn btn-warning">Enviar</button>
            <button id="buton" class="btn btn-dark">
                Ordenes de ayer
            </button>
            <button id="defecto" class="btn btn-dark">
               Todas
            </button>
        </label>

    </header>
    <div id='loading'></div>
    <main>
        <table id="tablaPrincipal" class="table table-striped table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>Empleado</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Metodo de pago</th>
                    <th>Por mayor</th>
                    <th>Delivery</th>
                    <th>productos</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="ordenes"></tbody>
        </table>
    </main>
    <footer id="footer" class="bg-dark text-white" style="align-self: flex-end;">
        <button class="btn btn-warning" id="calcular"> Calcular total</button>
        <h2 class="" id="TOTAL"></h2>
    </footer>
<script src="./orders.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>