.td{
    border: 1px solid #ddd;
    padding: 8px;
}
.tr {
    background-color: #f4f4f4;
    text-align: center;
}

.tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tr:hover {
    background-color: #eaeaea;
}
